body {
    margin: 0px;
    width: 100vw;
    font-family: 'Inter Thin';
}

@font-face {
    font-family: 'Inter Thin';
    src: url(Material/Font/Inter.ttf);
}

/* Fonts Size and Pharagraphs */

h1 {
    font-size: 53px;
    font-weight: 700;
    margin: 0;
    line-height: 1.1;
}

h2 {
    font-size: 36px;   
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 24px;
    font-weight: 650;
}

p {
    font-size: 18px;
    font-weight: 450;
    color: #666666;
    line-height: 1.4;
    margin-top: 10px;    
}

.quote {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin: 30px 8px;
    color:  #979797;
    line-height: 1.2;
}

.percentage {
    font-size: 53px;
    margin-bottom: 0;
    color:  #7f7f7f;
}

.name-Text-Quote {
    color: black;
    font-size: 18px;
    font-weight: 550;
    margin: 0;
}

.from-Text-Quote {
    font-size: 15px;
    color: #999999;
    margin: 0;
}

/* Navigation */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    border-bottom: 1px #e5e5e5 solid;
    margin: 0px 20px;
    gap: 15px;
    padding: 10px;
}

#home-Barky{
    width: 100px;
}

#nav-Margin-Right {
    margin-left: auto;
    border-right: solid #e5e5e5 1px;
    padding-right: 15px; /* BUG - Måste fixas */
}

.nav-Button {
    padding: 5px;
}

.nav-Button:hover {
    background-color: rgba(189, 189, 189, 0.199);
    border-radius: 3px;
    cursor: pointer;
}

/* Dropdown */

.nav-Button {
    position: relative;
}

.hamburger-Submenu {
    display: none;
    position: absolute;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: white;
    width: 150px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
    z-index: 1;
}


.hamburger-Submenu a {
    text-decoration: none;
    color: black;
    padding: 7px 5px;
    margin: 3px;
    font-weight: 450;
}

.hamburger-Submenu p {
    padding: 7px 5px;
    margin: 3px;
    margin-top: 2px;
    padding-top: 2px;
    color: #666666;
    font-size: 11px;
}

.hamburger-Submenu p span {
    text-decoration: underline;
}

.hamburger-Submenu p span:hover {
    color: #087fe7;
}

.nav-Button:hover .hamburger-Submenu, .nav-Button:hover .hamburger-Submenu-Special {
    display: flex;
}

.hamburger-Submenu a:hover, .submenu-Special:hover  {
    background-color: rgba(189, 189, 189, 0.199);
}

.hamburger-Submenu-Special {
    display: none;
    position: absolute;
    left: 0;
    flex-direction: column;
    background-color: white;
    width: 280px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
    z-index: 1;
}

.submenu-Special {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 3px;
}

.submenu-Special img {
    width: 25px;
    height: 25px;
    padding: 4px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.submenu-Special-Text h4, .submenu-Special-Text p {
    margin: 0;
    margin-left: 10px;
}

.submenu-Special-Text h4 {
    font-size: 15px;
    font-weight: 500;

}

.submenu-Special-Text p {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}

/* Content */

main {
    max-width: 1000px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
}

/* First Box */

#firstBox-Info {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    padding-bottom: 70px;
}

.half-Box {
    flex-basis: 0;
    flex-grow: 1;

}

#firstBox-Image {
    background-image: url(Material/Box-1-Main-Material/teams-hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Ikoner */

#iconBox {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    text-align: center;
    margin-bottom: 70px;
}

#iconBox img {
    height: 25px;
    padding: 12px;
}

/* USP boxar */



.usp-Top-Text {
    max-width: 500px;
}


.box-Person-Quote {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.box-Person-Quote img {
    width: 48px;
    height: 48px;
}

.usp-Img {
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}
/* Barky-Button */

#barky-Button-Special {
    background-color: black;
    padding: 3px 5px;
    color: white;
    border-radius: 3px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
    width: max-content;
}

.barky-Button {
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.2);
    width: max-content;
    font-weight: 550;

}

#container-With-List .barky-Button, #rating-Box .barky-Button{
    margin-left: auto;
    margin-right: auto;
}

#barky-Button-Special:hover, .barky-Button:hover {
    background-color: #000000a8;
    cursor: pointer;
}

/* Container with List */

#container-With-List {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

}

#tabell-Text {
    text-align: center;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}

#tabell-Container {
    max-width: 650px;
    background-color: #f3f1f1;
    border-radius: 6px;
    margin-right: auto;
    margin-left: auto;
}

.tabell-Row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
    border-bottom: 1px solid #e0e0e0;
}

.tabell-Row:last-child {
    border-bottom: none;
}

.tabell-Row img {
    height: 16px;
    width: 16px;
}

/* Rating box */

#rating-Box {
    text-align: center;
}

#left-Text-Box {
    text-align: left;
}

.rating-Flexbox {
    display: flex;
}

.rating-Flexgrow-Box {
    flex-grow: 1;
    flex-basis: 0;
}

#gap {
    gap: 40px;
}

#rating-Img {
    width: 100%;
}

.rating-Flexgrow-Box {
    border-right: 1px solid #e5e5e5;
}

.rating-Flexgrow-Box:last-child, #left-Text-Box {
    border-right: none;
}

#middle-Rating-Box {
    padding-left: 15px;
    padding-right: 15px;
}

#left-Rating-Box {
    padding-right: 15px;
}

#right-Rating-Box {
    padding-left: 15px;
}

/* Footer */

#line-Above-Footer {
    border-bottom: 1px #e5e5e5 solid;
    margin: 0px 20px;
}

footer {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
}


.footer-List-Box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#brand-Svg {
    height: 25px;
}

.footer-Svg {
    height: 20px;
    margin-right: 5px;
}