body {
    margin: 0px;
    width: 100vw;
    font-family: 'Inter Thin';
}

@font-face {
    font-family: 'Inter Thin';
    src: url(Material/Font/Inter.ttf);
}


/* Navigation */

nav {
    display: flex;
    border-bottom: 1px black solid;
    margin: 0px 10px;
    gap: 15px;
    padding: 10px;
}

#home-Barky{
    width: 100px;
}

#right-Box {
    margin-left: auto;
    border-right: solid black 1px;
    padding-right: 15px;
}

.nav-Button {
    padding: 5px;
}

.nav-Button:hover {
    background-color: rgba(189, 189, 189, 0.199);
    border-radius: 3px;
    cursor: pointer;
}

.nav-Button-Special {
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 3px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.466);
    width: max-content;
}

.nav-Button-Special:hover {
    background-color: #000000a8;
    cursor: pointer;
}

/* Content */

main {
    max-width: 1000px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
}

/* Ikoner */

#firstBox-Info {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.half-Box {
    flex-basis: 0;
    flex-grow: 1;

}

.half-Box h1 {
    font-size: 53px;
    font-weight: 650;
    margin: 0;
}

.half-Box p, .usp-Top-Text p {
    font-size: 19px;
    font-weight: 320;
    color: #666666;
}


#firstBox-Image {
    background-image: url(Material/Box-1-Main-Material/teams-hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iconBox {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 15px;
    text-align: center;
}

#iconBox img {
    height: 25px;
    padding: 10px;
}

/* USP boxar */

#usp-Box1 {

}

.usp-Top-Text {
    width: 50%;
}