body {
    margin: 0px;
    width: 100vw;
    font-family: 'Inter Thin';
}

@font-face {
    font-family: 'Inter Thin';
    src: url(Material/Font/Inter.ttf);
}


/* Navigation */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    border-bottom: 1px #e5e5e5 solid;
    margin: 0px 10px;
    gap: 15px;
    padding: 10px;
}

#home-Barky{
    width: 100px;
}

#right-Box {
    margin-left: auto;
    border-right: solid #e5e5e5 1px;
    padding-right: 15px;
}

.nav-Button {
    padding: 5px;
}

.nav-Button:hover {
    background-color: rgba(189, 189, 189, 0.199);
    border-radius: 3px;
    cursor: pointer;
}

.nav-Button-Special {
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 3px;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.466);
    width: max-content;
}

.nav-Button-Special:hover {
    background-color: #000000a8;
    cursor: pointer;
}

/* Content */

main {
    max-width: 1000px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding-top: 80px;
}

/* Ikoner */

#firstBox-Info {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.half-Box {
    flex-basis: 0;
    flex-grow: 1;

}


#firstBox-Image {
    background-image: url(Material/Box-1-Main-Material/teams-hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#iconBox {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    text-align: center;
}

#iconBox img {
    height: 25px;
    padding: 10px;
}

/* USP boxar */

.usp-Content {
    margin-top: 80px;
}

.usp-Top-Text {
    max-width: 500px;
}

.box-Person-Quote {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-Person-Quote img {
    width: 48px;
    height: 48px;
}

.usp-Img {
    width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}

/* Fonts Size and Pharagraphs */

.lightgray-small-Paragraph {
    font-size: 18px;
    font-weight: 320;
    color: #666666;
    line-height: 1.5;
    margin-top: 10px;    
}

.half-Box h1 {
    font-size: 53px;
    font-weight: 650;
    margin: 0;
}

.usp-Top-Text h2, #tabell-Text h2 {
    font-size: 36px;   
    font-weight: 650;
    margin: 0px;
}

#rating-Box h2 {
    font-size: 36px;   
    font-weight: 650;
}

.gray-Quote-Text {
    text-align: center;
    font-size: 36px;
    font-weight: 550;
    margin: 30px 8px;
    color:  #7f7f7f;
}

.name-Text-Quote {
    font-size: 18px;
    font-weight: 550;
    margin: 0;
}

.from-Text-Quote {
    font-size: 15px;
    color: #999999;
    margin: 0;
}

.tabell-Row {
    font-size: 16px;
}

#rating-Box h3 {
    font-size: 24px;
    font-weight: 650;
}

.rating-Link {
    text-decoration: underline;
    font-weight: 500;
}

.percentage-Font-Style {
    font-size: 53px;
    margin-bottom: 0;
    color:  #7f7f7f;
}

#gap h3 {
    margin-bottom: 10px;
}

#unique-Paragraph {
    margin-top: 0;
    font-size: 13;
    line-height: 1.5;
}

#unique-Paragraph span {
    text-decoration: underline;
}

#rating-Box-Title p {
    margin-top: 0;
}

#rating-Box-Title h2 {
    margin-bottom: 10px;
}

#dogs-Love-Us-Text {
    margin-top: 100px;
    margin-bottom: 40px;
}

/* Container with List */

#container-With-List {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

}

#tabell-Text {
    text-align: center;
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}

#container-With-List .nav-Button-Special, #rating-Box .nav-Button-Special{
    margin-left: auto;
    margin-right: auto;
}

#tabell-Container {
    max-width: 650px;
    background-color: #f3f1f1;
    border-radius: 6px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.tabell-Row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
    border-bottom: 1px solid #e0e0e0;
}

.tabell-Row:last-child {
    border-bottom: none;
}

.tabell-Row img {
    height: 16px;
    width: 16px;
}

/* Rating box */

#rating-Box {
    text-align: center;
}

#rating-Box-Title {
    margin-bottom: 50px;
}

#left-Text-Box {
    text-align: left;
}

.rating-Flexbox {
    display: flex;
    margin-bottom: 50px;
}

.rating-Flexgrow-Box {
    flex-grow: 1;
    flex-basis: 0;
}

#gap {
    gap: 40px;
}

#rating-Img {
    width: 100%;
}

.rating-Flexgrow-Box {
    border-right: 1px solid #e5e5e5;
}

.rating-Flexgrow-Box:last-child, #left-Text-Box {
    border-right: none;
}

#middle-Rating-Box {
    padding-left: 15px;
    padding-right: 15px;
}

#left-Rating-Box {
    padding-right: 15px;
}

#right-Rating-Box {
    padding-left: 15px;
}